{% extends 'base.html.twig' %}

{% block title %}Card Game{% endblock %}

{% block body %}
<h1>Card Game</h1>
<p>Cards in deck: {{ cards_in_deck }}</p>


<nav>
    <a href="{{ path('card_deck') }}">View Deck</a> |
    <a href="{{ path('card_shuffle') }}">Shuffle Deck</a> |
    <a href="{{ path('card_draw') }}">Draw a Card</a> |
    <a href="{{ path('card_session_delete') }}">View Session</a>
</nav>

<p>I detta projekt har vi arbetat med en modell där flera klasser samverkar för att hantera funktionaliteten. Huvudklasserna i applikationen inkluderar: </p>

<ul>
    <li> Controller-klasser:
    Dessa klasser (till exempel CardGameController, LuckyControllerJson) 
    hanterar logiken för olika API-rutter och landningssidan.
    Varje controller är ansvarig för en specifik del av applikationens funktionalitet, 
    som att dra kort från en kortlek eller att hantera JSON-svar. 
    </li>

    <li>Modellklasser:
    - DeckOfCards: En modell som representerar en kortlek. Den innehåller metoder för att blanda, dra och hantera kort i en standardkortlek.
    - Card och CardGraphic: Dessa klasser representerar enskilda kort. Card hanterar grundläggande egenskaper som färg och värde, medan CardGraphic innehåller grafiska representationer av korten.
    </li>

    <li>Relationer mellan klasser:
    CardGameController använder DeckOfCards för att hantera kortleken och använder Card-klassen för att visa enskilda kort.
    DeckOfCards håller en lista över Card-objekt och använder CardGraphic för att visualisera kort.
    </li>

<div>
    <img class = 'uml' src="{{ asset('img/UML.png') }}" alt="UML diagram">
</div>


{% endblock %}
