{% extends 'base.html.twig' %}

{% block title %}Session{% endblock %}

{% block body %}


<h2>Session Overview</h2>

{{include('flash.html.twig') }}

<ul>
    {% for key, value in session_data %}
        <li>{{ key }}: {{ value }}</li>
    {% endfor %}
</ul>
<a href="{{ path('card_session_delete') }}"class="button">Clear Session</a>

<a href="{{ path('card_init') }}"class="button">Back to Deck Overview</a>

{% endblock %}
