<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/glider.svg') }}">
        
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
            <link rel="stylesheet" href="{{ asset('styles/footer.css') }}">
            <link rel="stylesheet" href="{{ asset('styles/navbar.css') }}">
            <link rel="stylesheet" href="{{ asset('styles/project.css') }}">

        {% endblock %}
    </head>
    
    <body>
        <header class="site-header" style="background-image: url('/img/background.jpg');">
            <span class="site-title">My Symfony Site</span>
            <nav>
                <ul>
                <li><a href="{{ path('proj') }}">Home</a></li>
                <li><a href="{{ path('proj_about') }}">About</a></li>


                </ul>
            </nav>
            </header>
        <main>{% block body %}{% endblock %}</main>

    </body>
        <footer>
            {% block footer %}
                <div style="text-align: center; padding: 1em; background-color: #f3f3f3; border-top: 1px solid #ddd;">
                    <p>&copy; 2024 Samra</p>
                    <p>Webbprogramering</p>
                    <p><a href="https://github.com/sakg23" target="_blank">GitHub</a> | <a href="mailto:sakg23@student.bth.se">Kontakta mig</a></p>
                </div>
            {% endblock %}
        </footer>


</html>
