{% extends 'base2.html.twig' %}

{% block title %}Transactions{% endblock %}

{% block body %}
    <div class="transaction-page">
        <h1 class="page-title">Transactions</h1>
        <a href="{{ path('transaction_add') }}" class="add-transaction-btn">Add New Transaction</a>
        <ul class="transaction-list">
            {% for transaction in transactions %}
                <li class="transaction-item">
                    <span>{{ transaction.date|date('Y-m-d') }} - {{ transaction.type }}: {{ transaction.amount }} ({{ transaction.category }})</span>
                    <div class="button-group">
                        <a href="{{ path('transaction_edit', { id: transaction.id }) }}" class="edit-btn">Edit</a>
                        <form class="delete-form" action="{{ path('transaction_delete', { id: transaction.id }) }}" method="POST">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ transaction.id) }}">
                            <button type="submit" class="delete-btn" onclick="return confirm('Are you sure you want to delete this transaction?');">Delete</button>
                        </form>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
